$brand-primary: #FF6E1E

$navbar-default-link-color: white
$navbar-default-link-active-color: $navbar-default-link-color
$navbar-default-bg: $brand-primary

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss'
@import '../../node_modules/font-awesome/scss/font-awesome.scss'

.navbar
  border-radius: 0

.footer
  padding-bottom: 1em

.large-social-media-badge
  padding: 1em

.social-media-badge
  padding: .25em

.youtube-player
  height: 50vh
  width: 100%

.sponsorsList
  li
    display: inline-block
    padding: 1em

// .carousel-control
//   &.left, &.right
//     background-image: none