doctype html

html
  block link
    -var active = 'home';
  
  -var menu = {'home': '/home', 'swag': '/swag'};
  
  head
    link(rel='stylesheet', href='../css/style.css')
  
  body
    nav.nav
      div.container
        div.nav-left
          h1.nav-item.title Caltech Robotics Team
        div.nav-right
          each val, key in menu
            if key == active
              a.nav-item.is-tab.is-active(href=val, title=key)= key
            else
              a.nav-item.is-tab(href=val, title=key)= key
            
block content
  