extends ../layout

block link
  -var active = 'Home';

block content
  div.container
    div.row
      div.col-sm-8.col-sm-offset-2
        div#carousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic' data-slide-to='0')
            li(data-target='#carousel-example-generic' data-slide-to='1')
            li(data-target='#carousel-example-generic' data-slide-to='2')
          div.carousel-inner(role='listbox')
            div.item.active.text-center
              img(src='../imgs/3drender.png', alt='Test')
            div.item.text-center
              img(src='../imgs/3drender2.png', alt='Test')
            div.item.text-center
              img(src='../imgs/3drender3.png', alt='Test')
          a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#carousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
  div.container
    div.row
      div.col-sm-4.text-center
        a(href='./programming.html')
          h4 Programming
          i.fa.fa-terminal.fa-5x(aria-hidden='true')
      div.col-sm-4.text-center
        a(href='./mechanical.html')
          h4 Mechanical
          i.fa.fa-cogs.fa-5x(aria-hidden='true')
      div.col-sm-4.text-center
        a(href='./electrical.html')
          h4 Electrical
          i.fa.fa-lightbulb-o.fa-5x(aria-hidden='true')