extends ../layout

block link
  -var active = 'Mechanical';

block content
  div.container
    div.row
      div.col-md-12
        img.pull-right(src='../imgs/pooltesting.png', hspace='20', vspace='20')
      
        p Mechanical Team had a great Fall Term both in terms of our accomplishments and the contributions from our members. During the past term, all subsystems were significantly improved. The gripper turret and arm is ready for prototyping in the first week of Winter Term. The gripper relies on servomotors mounted in waterproof enclosures for actuation. The torpedoes/marker projectile design was prototyped using 3D printing and tested. Preliminary testing of a spring-based launch system went very well, and a prototype design is underway. Our dual-camera system design is mostly completed and will be finalized in the first few weeks of Winter term. We have also completed a low-fidelity design for mounting electronics inside the pressure hull. The electronics package is a bi level design that opens using a four-bar linkage. The pressure hull design was completed; it uses ribbing to eliminate unneeded weight while remaining strong. Lastly, we designed a five-bar linkage system for opening the pressure hull. The system is designed to provide easy access to the interior of the pressure hull whilst also being tolerant of misalignments.
        
        p Currently, mechanical team is on track for all major parts to be machined and/or anodized by the end of Winter term. Components will be machined in-house, contracted out to FirstCut, or contracted out to G.C.C (Glendale Community College). Altogether, mechanical team is on track for a successful Winter Term.
        
        p - Jeffrey Orstein (Mechanical Lead)