extends ../layout

block link
  -var active = 'Sponsors';
  
block content
  div.container
    div.row
      div.col-md-12
        h1 Special thanks to our sponsors!
        h2 Ocean Level Sponsors ($5000+)
        ul.sponsorsList
          li
            p Rhonda MacDonald
          li
            img(src='../imgs/caltech.png')
          li
            img(src='../imgs/glendalecc.png')
          li
            img(src='../imgs/northroppgrumman.png')
          li 
            img(src='../imgs/sbb.png')
          li
            img(src='../imgs/thales.png')
          li
            img(src='../imgs/videoray.png')
        h2 Sea Level Sponsors ($1000+)
        ul.sponsorsList
          li
            img(src='../imgs/dropbox.png')
          li
            img(src='../imgs/mec.png')
        h2 Lake Level ($100+)
        ul.sponsorsList
          li Yi Zhou
          li Qihong Li
          li Janet Harland
          li Walter Flicker
          li Steven Lucas
          li Johnson Wong
          li Justin Koch
          li Alvah Strickland
          li Thomas Bowman
          li Dale Roberts
          li Sarah Griffis
          li David Flicker
          li Karla Roberts
          li Dale Dalrymple
          li Prue Flicker
          li
            img(src='../imgs/danco.png')
      h1 Want to support the team? #[a(href='./contact.html') Contact us] and take a copy of our fund-raising packet 
        a(href='../imgs/Publication2.pdf', target='_blank', rel='noopener noreferrer') here.